<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h2>Enquery form</h2>
    <form action="./thankyou.html">
        <fieldset>
            <legend>Your information:</legend> <br>
            <label for="">First name</label> <br>
            <input type="text" required> <br>
            <label for="">Last name</label> <br>
            <input type="text" required> <br>
            <label for="">Email</label> <br>
            <input type="email" name="" id="" required> <br>
            <label for="">Phone</label> <br>
            <input type="tel" name="" id="" required> <br>
        </fieldset> <br> <br>
        <fieldset>
            <legend>Your Address:</legend>
            <label for="">Address</label> <br>
            <input type="text" name="" id="" required> <br>
            <label for="">City</label> <br>
            <input type="text" name="" id="" required> <br>
            <label for="">Zip code</label> <br>
            <input type="text" name="" id="" required> <br>
            <label for="">Country</label> <br>
            <input type="text" name="" id="" required> <br>
        </fieldset> <br> 
        <fieldset>
            <legend>Gender:</legend>
            <input type="radio" name="gender" id="">Male
            <input type="radio" name="gender" id="">Female
            <input type="radio" name="gender" id="">Other
        </fieldset><br>
        <fieldset>
            <legend>Choose product:</legend>
            <input type="checkbox" name="" id=""> Phone
            <input type="checkbox" name="" id=""> Laptop
            <input type="checkbox" name="" id=""> Watch
            <input type="checkbox" name="" id=""> Walet <br>
            <label for="">Insert your image</label> <br>
            <input type="file" name="" id="">
        </fieldset> <br> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>